/* Default Light Theme */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

#profile-img {
    width: 150px;
    border-radius: 50%;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
	cursor : pointer

}

/* Dark Theme */
body.dark {
    background-color: #121212;
    color: #f5f5f5;
}
#achievements {
	background: white;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

body.dark #achievements {
	background: #1e1e1e;
	box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
}

#achievements h2 {
	text-align: center;
	margin-bottom: 15px;
	font-size: 1.6rem;
	letter-spacing: 1px;
}

#achievements ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#achievements li {
	background: #f0f0f0;
	padding: 12px 15px;
	margin: 10px 0;
	border-radius: 10px;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: 0.3s ease;
}

body.dark #achievements li {
	background: #2a2a2a;
}









#projects {
	background: white;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

body.dark #projects {
	background: #1e1e1e;
	box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
}

#projects h2 {
	text-align: center;
	margin-bottom: 15px;
	font-size: 1.6rem;
	letter-spacing: 1px;
}

#projects ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#projects li {
	background: #f0f0f0;
	padding: 12px 15px;
	margin: 10px 0;
	border-radius: 10px;
	font-size: 1.1rem;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: 0.3s ease;
}

body.dark #projects li {
	background: #2a2a2a;
}

